.informacion {
    display: flex;
    justify-content: center;
    width: 100%;
}

.item {
    width: 50%;
    box-sizing: border-box;
    border-right: 1px solid #AFAFAF;
    text-align: center;
    padding: 10px;
    background-color: rgba(205, 205, 205, 0.5);
}

.title
{
    font-weight: bold;
    font-size: 9pt;
}

.data
{
    font-size: 8pt;
}